[submodule "third_party/ETDataset"]
	path = third_party/ETDataset
	url = https://github.com/zhouhaoyi/ETDataset.git
[submodule "third_party/elasticnet_af"]
	path = third_party/elasticnet_af
	url = git@github.com:FloopCZ/elasticnet_af.git
